:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --team-color: #f4f4fd;
  --primary-color: #404bbf;
}

body {
  /* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);

  /* links */
}
.link {
  text-decoration: none;
  color: var(--nav-active-color);
}
.link:hover,
.link:focus {
  color: var(--primary-color);
}

/* button */

.btn {
  cursor: pointer;
}
/* list */
.list {
  list-style-type: none;
}

/* logo */
.logo {
  font-family: "Raleway";
}

/* nav elements */
.nav-logo-web {
  color: var(--accent-color);
}
.nav-logo-studio {
  color: var(--title-text-color);
}

.nav-items {
  color: var(--title-text-color);
  font-family: "Roboto";
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
}

/* hero */

.hero {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--hero-text-color);
  background-color: var(--title-text-color);
}

.hero-btn {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-color);
}
/* portfolio menu */
.filtr-btn {
  color: var(--accent-color);
  background-color: var(--team-color);
}
.filtr-btn:focus,
.filtr-btn:hover {
  color: var(--hero-text-color);
  background-color: var(--primary-color);
}
.footer {
  background-color: var(--title-text-color);
}
.footer-logo-web {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-logo-studio {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--team-color);
}
.footer-text {
  color: var(--team-color);
}
